/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%,rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%),linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%,rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%,rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%,rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%),linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%,rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%,rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%,rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%,rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%,rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%,rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%),linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%,rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%,rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%,rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%),linear-gradient(90deg, rgb(60, 199, 213),rgb(124, 159, 221))
}

button[type="submit"]{
    background-color: #67dfd4;
    color: #fff;
}
button[type="reset"]{
    background-color: #67bddf;
    color: #fff;
}

.btn-lg {
    color: #fff;
    margin: 10px;
    background-color: rgba(33, 38, 112, 0.822);
}

.navbutton {
    color: #fff;
    margin: 1px;
    background-color: rgba(33, 38, 112, 0.6);
}

.uppertext {
    margin-right: 10px;
    color:rgb(0, 32, 139);
}

table tr:hover{
    cursor: pointer;
    background-color: rgba(29, 29, 29, 0.10);
}

.hero-list {
    overflow-y: scroll;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
}

.specie-list {
    overflow-y: scroll;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(255, 254, 254, 0.2); 
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #67c7df; 
}

.main-page {
    height: 600px;
}

.main-button {
    background-color: rgba(30, 30, 30, 0.25);
}